/* Global ------------------------------------------------------------------------------------- */


body, p, input {
	font: normal 14pt verdana, helvetica, sans-serif;
	text-align: center;
	
}

body{
	font: normal 14pt verdana, helvetica, sans-serif;
	color: #2c2c33;
	background-color: #87CEEB;
	margin-top: 12%;
	text-align: justify;
}

label {
  display: inline-block;
  width: 40%;
  text-align: right;
}

input {
	background-color: #eff1fc;
	color: #202026;
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
    display: inline-block;
    border-radius:5px;
    text-align: left;
    margin-left: 0%;
    
}

p{
	text-align: center;
}

/* Hyperlink */

 a:link {
color: #006300;
}

a:hover {
color: #004500;
} 

a:visited {
color: #006300;
}

p.names {
	text-align: left;
	font-style: italic;
}

