/* Global ------------------------------------------------------------------------------------- */


body, p, legend, label, input {
	font: normal 14pt verdana, helvetica, sans-serif;
	
}
body{
	font: normal 14pt verdana, helvetica, sans-serif;
	background-color: #729fcf;
	margin: 0%;
}

input{
	background-color: #d3d7cf;
}


/* Forms --------------------------------------------------------------------------------------- */


form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
	border-radius: 20px;
}

form .requis {
	color: #c00;
}


/*********************************/

/* main.css */

div.header {
	background-color: #3F48CC;
	margin-top: 0%;
	position: fixed;
	margin-left: 7.5%;
	margin-right: 7.5%;
	width: 85%;
}


div.headerLink a {
	text-decoration: none;
	color: #E8E3F4;
	font-weight:bold;
}


div.headerLink {
	display: inline-block;
	margin: 5px;
}

div.content {
	padding: 10px;
}

div.contentWrapper {
	background-color: white;
	margin-left: 7.5%;
	margin-right: 7.5%;
}

div.thumbnail {
	display: inline-block;
	padding: 0.1%;
}



