/* Global ------------------------------------------------------------------------------------- */
body, p, input  {
	font: normal 14pt verdana, helvetica, sans-serif;
}

body{
	font: normal 14pt verdana, helvetica, sans-serif;
	color: #2c2c33;
	background-color: #87CEEB;
	margin-top: 0%;
}

p{
	text-align: center;
}



/* Forms --------------------------------------------------------------------------------------- */
/* mailbox.css  */
table { 
	resize:both;
	overflow:auto;
}

td.fromField {
	width: 25%;
	vertical-align: top;
}

td.toField {
	width: 25%;
	vertical-align: top;
}

td.subjectField {
	width: 35%;
	vertical-align: top;
}

tr.l0 {
	background-color: #ffffff;
	padding: 4px;
}

tr.l1 {
	background-color: #eeeeee;
	padding: 4px;
}

/* Header */

div.header {
	background-color: #5E90A4;
	margin-top: 0%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	width: 85%;
}


div.headerLink a {
	text-decoration: none;
	color: #E4F7FE;
	font-weight:bold;
	
}


div.headerLink {
	display: inline-block;
	margin: 5px;
}

div.content {
	padding: 10px;
}

div.contentWrapper {
	background-color: white;
	margin-left: 7.5%;
	margin-right: 7.5%;
}

div.thumbnail {
	display: inline-block;
	padding: 0.1%;
}

div.thumbnail img {
	max-height: 150px;
	max-width: 150px;
}

/* Contents */

tr:hover {
	background-color:#9EC5FE;
	color: black;
}

#test {
	text-align: left;
	color: #102441;
	font-weight: bold;

}




/* Hyperlink */

 a:link {
color: #204a87;
text-decoration: none;
}
a:visited {
color: #729fcf;
}
a:hover {
color: #062562;
} 


a.valid {
	color: #006300;
	text-decoration: none;
}
a.valid:hover {
	color: #004500;
}

a.valid:visited {
	color: #006300;
}



