/* Global ------------------------------------------------------------------------------------- */
body, p, legend, label, input, textarea {
	font: normal 14pt verdana, helvetica, sans-serif;
}

fieldset {
	padding: 10px;
	border: 1px #0568CD solid;
}

legend {
	font-weight: bold;
	color: #000000;
}

/* Forms --------------------------------------------------------------------------------------- */
form label {
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}

form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}

form input.sansLabel {
	margin-left: 200px;
	border-radius: 20px;
}

form .requis {
	color: #c00;
}

form .erreur {
	color : #f00
}

form .succes {

    color: #090;

}

form textarea {
    width: 80%;
    height: 80%;
    resize: none;
    overflow: auto;
    
    max-height:250px; 
    min-height:100px; 
}


/* mailbox.css  */
span.fromField {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}

span.toField {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}

span.subjectField {
	display: inline-block;
	width: 35%;
	vertical-align: top;
}

div.l0 {
	background-color: #ffffff;
	padding: 4px;
}

div.l1 {
	background-color: #eeeeee;
	padding: 4px;
}

/*********************************/

/* main.css */

div.header {
	background-color: #3F48CC;
	margin-top: 0%;
	position: fixed;
	margin-left: 7.5%;
	margin-right: 7.5%;
	width: 85%;
}


div.headerLink a {
	text-decoration: none;
	color: #E8E3F4;
	font-weight:bold;
}


div.headerLink {
	display: inline-block;
	margin: 5px;
}

div.content {
	padding: 10px;
}

div.contentWrapper {
	background-color: white;
	margin-left: 7.5%;
	margin-right: 7.5%;
}

div.thumbnail {
	display: inline-block;
	padding: 0.1%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #7092BE;
	margin: 0%;
}

div.thumbnail img {
	max-height: 150px;
	max-width: 150px;
}
