/* Global ------------------------------------------------------------------------------------- */
body, p, label, input {
	font: normal 14pt verdana, helvetica, sans-serif;
}

body{
	font: normal 14pt verdana, helvetica, sans-serif;
	color: #2c2c33;
	background-color: #87CEEB;
	margin-top: 0%;
	height: 100%;
}

html {
	height: 100%;
	overflow-y: hidden;
}
p{
	text-align: center;
}


/* Forms --------------------------------------------------------------------------------------- */
form label {
	float: left;
	width: 200px;
	margin: 3px 0px 0px 0px;
}

form input {
	margin: 3px 3px 0px 0px;
	border: 1px #999 solid;
}


/* Header */

div.header {
	background-color: #5E90A4;
	margin-top: 0%;
	margin-left: 7.5%;
	margin-right: 7.5%;
	width: 85%;
}


div.headerLink a {
	text-decoration: none;
	color: #E4F7FE;
	font-weight:bold;
	
}


div.headerLink {
	display: inline-block;
	margin: 5px;
}


div.contentWrapper {
	background-color: white;
	margin-left: 7.5%;
	margin-right: 7.5%;
	height: 80%;
}

div.thumbnail {
	display: inline-block;
	padding: 0.1%;
}

div.thumbnail img {
	max-height: 150px;
	max-width: 150px;
}

div.content {
	height: 100%;
	width:100%;
	display: table;
}

div.body {
	height:100%;
	display: table-row;
	text-align: center;
	padding: 10px;
}

div.details {
	display: table-row;
	width:100%;
}

div.padDetails {
	padding: 10px;
}

	
/* Hyperlink */

a.valid {
	color: #006300;
}
a.valid:hover {
	color: #004500;
}

a.valid:visited {
	color: #006300;
}

object.emailBody {
	width: 100%;
	height: 100%;
}

hr.line{
	width: 100%;
	color: #17335E;
    align: left;
    padding-top : 0%;
}

label{
	font-weight: bold;
}


