<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Mail User Agent (IMAP)</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>handles login attempts</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mailbox</display-name>
    <servlet-name>mailbox</servlet-name>
    <servlet-class>servlets.MailBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailbox</servlet-name>
    <url-pattern>/MailBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMail</display-name>
    <servlet-name>ViewMail</servlet-name>
    <servlet-class>servlets.ViewMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMail</servlet-name>
    <url-pattern>/ViewMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetElement</display-name>
    <servlet-name>GetElement</servlet-name>
    <servlet-class>servlets.GetElement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetElement</servlet-name>
    <url-pattern>/GetElement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMessage</display-name>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>servlets.DeleteMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/DeleteMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>